body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 165px);
  column-gap: 30px;
  width: fit-content;
  margin-top: 100px;
}
.box {
  background-color: white;
  height: 254px;
  border: none;
  box-shadow: 0px 0px 5px 0.5px;
}

.profile {
  height: 150px;
}

.profile img {
  width: 165px;
  height: 150px;
}

.pname h3 {
  padding-top: 3px;
  padding-bottom: 0;
  padding-left: 3px;
  margin: 0;
}

.pmutal {
  margin-top: 0;
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 2px;
}
.pmutal p {
  display: grid;
  align-items: center;
  margin: 0;
  padding-left: 0px;
}
.icon {
  display: grid;
  align-items: center;
  width: 30px;
  margin: 0;
}
.friends {
  display: grid;
  align-items: center;
  justify-content: center;
  color: grey;
}
.icon img {
  width: 30px;
  border-radius: 15px;
}
p {
  padding: 2px;
}

.friend {
  height: 42px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.addfriend {
  background-color: #0084ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
